body{
  background-color: #1b1e57;
  color: aliceblue; 
}

.contents_wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-top: 15%; */
}

li{
  list-style-type: none;
}

.form,
.greeting{
  display: none;
}

.showing{
  display: block;
}


@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
  /* background-size: cover; */
}

button{
  border-radius: 5px;
  border: 1px; 
  transition: .5s;
  background-color:  aliceblue;
}

button:hover{
  background-color: #720a94;
  padding: 4px 10px 4px 10px;
}

span,
button{
  animation: fadeIn .5s linear;
}

.google_map {
  height: 15rem;
  width: 20rem;
  margin-top: 1.5rem;
  border-radius: 10%;
}